/* Desktop */
body {
    margin: 0;
    padding: 0;
    font-family: nunito, sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 2rem;
}

div,
input {
    margin: 0;
    padding: 0;
}

.image-header {
    padding: 20px 0 0 48px;
}

.list-container {
    color: #fff;
    padding: 0 10px 10px 10px;
    width: auto;
}

.list-heading {
    font-size: 3rem;
    font-weight: 700;
    font-family: poppins, sans-serif;
    margin-bottom: 1rem;
    line-height: 1em;
}

.header-container {
    padding: 10px 15px 10px 48px;
    height: auto;
    background-color: #301352;
    width: 100%;
    box-sizing: border-box;
}

.header {
    padding: 0 15px 0 100px;
    width: 90%;
    box-sizing: border-box;
    height: auto;
    display: flex;
    justify-content: space-around;
}

.form-section {
    width: 350px;
    height: auto;
    background-color: white;
    text-align: center;
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 1.25rem;
    margin-top: 60px;
}

.form-field {
    width: 100%;
    margin-top: 1rem;
    box-sizing: border-box;
}

.form-field input {
    width: 100%;
    box-sizing: border-box;
    height: 35px;
    padding: 5px;
}

.row-discount {
    margin-top: 30px;
    width: auto;
}

.form-button input {
    width: 100%;
    height: 40px;
    margin-top: 20px;
    background-color: #ffc107;
}

.form-footer {
    margin-top: 30px;
    font-size: 80%;
    color: #6c757d;
}

.logo {
    margin: 48px 0px 0 0;
}

.language-section {
    font-weight: 700;
    font-size: 1.25rem;
    color: #f8f9fa;
    font-family: poppins, sans-serif;
    line-height: 2rem;
}

.overview-section {
    height: auto;
    width: 50%;
    box-sizing: border-box;
    margin-left: 100px;
}

.overview-section-heading {
    font-weight: 700;
    font-family: poppins, sans-serif;
    color: #fff;
    width: 100%;
    padding-left: 50px;
}

.overview-section-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.overview-heading {
    color: #fff;
    padding-left: 10px;
}

.overview-footer {
    color: #ffc107;
    font-weight: 700;
    font-size: 1.25rem;
    width: auto;
    padding: 10px;
}

#about-container {
    margin: 48px 0;
    padding: 24px 0;
    width: auto;
    box-sizing: border-box;
}

.container-heading {
    font-weight: 700;
    color: #132241;
    font-size: 1rem;
    font-family: poppins, sans-serif;
    padding-left: 130px;
}

.about-container-content {
    padding-left: 100px;
}

.syllabus-container {
    padding: 24px 15px;
    height: auto;
    background-color: #301352;
    color: white;
    width: auto;
    box-sizing: border-box;
}

.main-heading {
    font-weight: 700;
    font-size: 2em;
    font-family: poppins, sans-serif;
    padding-left: 195px;
    color: white;
}

.syllabus-main-content {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.syllabus-button input {
    width: 250px;
    height: 40px;
    background-color: #ffc107;
}

.program-container {
    margin-left: 110px;
    padding: 48px 0;
    height: 720px;
    width: auto;
    height: auto;
    box-sizing: border-box;
    position: relative;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 24px;
    transform: rotate(45deg);
}

.program-item {
    background-color: whitesmoke;
    height: auto;
    margin-top: 25px;
}

.content-heading {
    font-weight: 700;
    font-size: 2em;
    font-family: poppins, sans-serif;
    padding-left: 79px;
}

.program-item-heading {
    padding: 20px 0 0 50px;
    font-weight: 700;
}

.program-item-content {
    padding: 15px 0 0 50px;
    width: auto;
}

.techno-container {
    padding: 48px 15px;
    height: auto;
    background-color: #301352;
    width: auto;
    box-sizing: border-box;
}

.techno-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: auto;
}

.fee-container {
    padding: 0 0 48px 0;
    margin: 50px 0 50px 381px;
    background-color: black;
    color: ghostwhite;
    width: 60%;
    height: auto;
    box-sizing: border-box;
}

.fee-header {
    height: auto;
}

.fee-section>div {
    margin-left: 10px;
}

.fee-section {
    font-size: 1.6rem;
    color: #fff;
    padding: 12px 20px;
    background-color: rgb(39, 39, 41);
    display: flex;
}

.fee-item2 {
    text-decoration: line-through;
    color: grey;
}

.fee-item3 {
    font-weight: 700;
}

.fee-list {
    font-family: poppins, sans-serif;
    font-size: 1em;
}

.fee-heading {
    font-size: 1.6rem;
    color: #fff;
    margin: 50px 0 0 80px;
    font-weight: 400;
    font-size: 2em;
    display: flex;
}

.fee-heading-item {
    color: #ffc107;
    font-weight: 700;
}

.fee-list-items {
    margin: 50px 0 0 60px;
}

.fee-button {
    display: flex;
    justify-content: flex-end;
}

.fee-button>div {
    margin-right: 20px;
}

.fee-button-item1 input {
    width: 150px;
    height: 40px;
    background-color: #0dba4b;
}

.fee-button-item2 {
    margin: 0 0 0 10px;
}

.fee-button-item2 input {
    width: 150px;
    height: 40px;
}

.highlights-container {
    margin: 0 0 0 110px;
    padding: 48px 15px;
    width: 85%;
    height: auto;
    box-sizing: border-box;
}

.highlights-content {
    margin: 16px;
    display: flex;
    height: auto;
    justify-content: space-between;
    align-items: flex-start;
}

.img {
    margin: 15px;
    width: 50px;
    height: 50px;
}

.img-item1 {
    width: 400px;
    margin: 0 0 0 140px;
}

.highlight-item {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.highlights-button input {
    width: 250px;
    height: 40px;
    margin: 20px 0 0 600px;
    background-color: #ffc107;
}

.projects-container {
    padding: 48px 15px;
    background-color: #301352;
    width: auto;
    height: auto;
    box-sizing: border-box;
}

.project-main-content {
    display: flex;
    height: auto;
    justify-content: center;
}

.project-content {
    background-color: white;
    height: 245px;
    width: 296px;
}

.project-content1 {
    background-color: white;
    height: 500px;
    width: 248px;
    margin: 0 15px 0 15px;
}

.project-content-heading {
    width: auto;
}

.project-content-heading1 {
    width: auto;
}

.project-item1 {
    height: auto;
}

.project-item2 {
    height: auto;
}

.project-item3 {
    height: auto;
}

.project-content-footer {
    margin: 10px;
    font-size: 1rem;
    line-height: 1.7rem;
    width: auto;
}

.project-content-item {
    margin: 10px;
    font-size: 1.25rem;
    line-height: 1.5rem;
    font-weight: 600;
    display: flex;
    justify-content: space-evenly;
}

.process-container {
    margin-left: 120px;
    padding: 48px 15px;
    width: auto;
    height: auto;
    box-sizing: border-box;
}

.process-main-content {
    display: flex;
    height: auto;
    align-items: center;
    justify-content: space-around;
}

.process-item1 {
    padding: 20px;
    width: 300px;
    border-top: 0.25rem solid green;
    height: 350px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}

.process-item1-heading {
    font-size: 1.5rem;
    font-weight: 700;
}

.process-item1-heading1 {
    color: #0b9a3e;
    font-weight: 700;
    padding-top: 15px;
}

.process-item1-content {
    color: #3d4a63;
}

.clients-container {
    padding: 48px 0 48px 15px;
    margin-left: 110px;
    width: auto;
    height: auto;
    box-sizing: border-box;
}

.client-main-container1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.client-main-container2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: auto;
}

.client-main-container3 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: auto;
}

.client-main-container4 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: auto;
}

.client-footer {
    margin: 65px 0 0 655px;
    font-weight: 700;
}

.feedbacks-container {
    padding: 48px 15px 0;
    background-color: #301352;
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

.feedbacks-main-content {
    display: flex;
    justify-content: space-around;
}

.feedbacks-content1 {
    width: auto;
    height: auto;
    background-color: whitesmoke;
}

.feedback-image1 {
    margin-left: 150px;
}

.feedback-image2 {
    margin-left: 150px;
}

.feedback-image3 {
    margin-left: 150px;
}

.myimg {
    object-fit: cover;
    border-radius: 50%;
}

.feedback-footer1 {
    padding: 0 0 0 150px;
    font-weight: 700;
}

.feedback-footer2 {
    padding-left: 150px;
}

.feedback-video1 {
    margin: 20px;
}

.feedback-video2 {
    margin: 20px;
}

.feedback-video3 {
    margin: 20px;
}

.feedbacks-content2 {
    width: auto;
    height: auto;
    background-color: whitesmoke;
}

.feedbacks-content3 {
    width: auto;
    height: auto;
    background-color: whitesmoke;
}

.feedback-heading {
    margin: 0 0 48px 130px;
    color: white;
    font-weight: 800;
    font-size: 1em;
    font-family: poppins, sans-serif;
}

.feedback-button input {
    margin: 50px 0 0 650px;
    width: 250px;
    height: 40px;
    background-color: #ffc107;
}

.fullstack-desc-container {
    padding: 24px 15px;
    width: auto;
    height: auto;
    box-sizing: border-box;
}

.fullstack-desc-footer {
    padding: 24px 15px;
    margin-left: 760px;
}

.fullstack-desc-content {
    margin: 0 0 24px 110px;
    color: #3d4a63;
}

.contact-section {
    padding: 24px 15px;
    background-color: #301352;
    width: auto;
    height: auto;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 1.25rem;
}

.contact-heading {
    padding-left: 700px;
    color: white;
    font-weight: 700;
    font-size: 1em;
    font-family: poppins, sans-serif;
}

.contact-button input {
    margin: 24px 0 0 800px;
    width: 250px;
    height: 40px;
    background-color: #ffc107;
}

.faq-section {
    margin: 30px;
    width: auto;
    height: auto;
    box-sizing: border-box;
}

.arrows {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 30px;
    transform: rotate(45deg);
}

.faq-question {
    padding: 20px 0 0 25px;
    font-size: 1.25rem;
    font-weight: 700;
    color: #132241;
}

.faq-content {
    background-color: whitesmoke;
    width: auto;
    height: auto;
    box-sizing: border-box;
    margin: 30px 0 0 33px;
}

.faq-item {
    padding: 0 15px;
}




/* Mobile */
@media only screen and (max-width: 600px) {


    .header,
    .about-container-content,
    .highlights-container,
    .highlights-content,
    .feedbacks-container,
    .projects-container,
    .overview-section-content,
    .feedbacks-main-content,
    .process-main-content,
    .project-main-content,
    .highlights-section1,
    .highlights-section2,
    .highlight-item,
    .client-main-container1,
    .client-main-container2,
    .client-main-container3,
    .client-main-container4,
    .techno-content,
    .fee-button,
    .syllabus-main-content {
        display: block;
        padding: 0;
    }

    .header-container,
    .highlights-container,
    .projects-container,
    .container-heading,
    .form-section,
    .list-container,
    .feedbacks-container,
    .full-stack-section,
    .list-content,
    .language-section,
    .techno-content,
    .overview-section,
    .overview-section-heading,
    .overview-section-content,
    .overview-content,
    .overview-heading,
    .overview-footer,
    .logo,
    .program-item-content,
    .syllabus-main-content,
    .fee-container {
        width: auto;
    }

    .program-container,
    .fee-container,
    .highlights-container,
    .logo,
    .overview-section,
    .form-section,
    .fee-heading,
    .client-footer,
    .clients-container,
    .fullstack-desc-footer,
    .process-container,
    .img-item1,
    .feedback-heading,
    .fullstack-desc-content,
    .faq-section, 
    input[type="submit"] {
        margin: 0;
    }

    .header-container {
        height: auto;
    }

    .contact-heading,
    .contact-button,
    .fee-section,
    .faq-item,
    .container-heading,
    .header-container,
    .content-heading,
    .about-container-content {
        padding: 0;
    }

    .fee-section>div {
        padding-left: 0;
        margin: 0;
    }

    .fee-item1,
    .fee-item2,
    .fee-item3,
    .fee-item4 {
        height: auto;
    }

    .container-heading,
    .contact-heading {
        margin-left: 20px;
        width: auto;
    }

    .main-heading {
        padding-top: 20px;
        padding-left: 40px;
    }

    .fee-heading {
        margin: 20px 0 0 20px;
    }

    .feedback-heading {
        margin-left: 20px;
    }

    .header-container {
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .overview-section {
        width: auto;
        height: auto;
    }

    .overview-section-content {
        height: auto;
        width: auto;
    }

    .overview-section-heading {
        padding: 0;
        width: auto;
    }

    #about-container {
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .syllabus-container {
        height: auto;
    }

    .syllabus-main-content,
    .feedback-heading {
        padding-top: 30px;
    }

    .program-container {
        height: auto;
        width: auto;
    }

    .program-item {
        height: auto;
        width: auto;
    }

    .project-content1 {
        width: 296px;
        margin-left: 0;
        margin-right: 0;
    }

    .project-item1,
    .project-item3 {
        height: auto;
    }

    .project-item2 {
        height: auto;
    }

    .program-item-content {
        width: auto;
    }

    .techno-container {
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .techno-content {
        height: auto;
    }

    .techno-content,
    .process,
    .techno-pencil,
    .techno-aws,
    .techno-nodejs {
        padding-top: 50px;
    }

    .project-content,
    .project-content1 {
        margin-top: 50px;
    }

    .feedbacks-content1,
    .feedbacks-content2,
    .feedbacks-content3 {
        margin: 50px 0 0 0;
        width: 100%;
    }

    .feedback-button {
        margin: 50px 0 0 0;
    }

    .process-item1 {
        margin: 50px 0 0 0;
    }

    .fee-container {
        height: auto;
    }

    .fee-button {
        display: flex;
    }

    .fee-heading {
        width: auto;
    }

    .highlights-container {
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .highlights-content {
        height: auto;
    }

    .highlight-item {
        display: flex;
        width: auto;
    }

    .projects-container {
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .project-main-content {
        height: auto;
    }

    .process-container {
        height: auto;
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .process-main-content {
        height: auto;
    }

    .clients-container {
        height: auto;
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .client-main-container2,
    .client-main-container3,
    .client-main-container4 {
        height: auto;
    }

    .feedbacks-container {
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .fullstack-desc-container {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .fullstack-desc-footer {
        width: auto;
    }
    .contact-section{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
   .faq-section{
    display: flex;
    flex-direction: column;
    align-items: center;
   }
}


@media only screen and (min-width: 601px) and (max-width: 1080px) {

    .header,
    .full-stack-section,
    .list-container,
    .program-item-content,
    .fee-button {
        width: 90%;
    }

    .feedbacks-main-content {
        display: block;
    }

    .highlights-content,
    .faq-section {
        width: 93%;
    }

    .overview-section-content,
    .feedbacks-content1,
    .feedbacks-content2,
    .feedbacks-content3,
    .feedback-button,
    .contact-heading {
        margin-left: 230px;
    }

    .highlights-button,
    .contact-button {
        margin-left: 400px;
    }

    .client-footer {
        padding-left: 400px;
    }

    .full-stack-section,
    .logo,
    .list-content,
    .overview-section-content,
    .contact-heading {
        width: 75%;
    }

    .fee-container,
    .highlights-container,
    input[type="submit"],
    .process-container,
    .clients-container,
    .client-footer {
        margin: 0;
    }

    .contact-heading {
        padding: 0;
    }

    .feedbacks-content2,
    .feedbacks-content3,
    .feedback-button {
        margin-top: 20px;
    }

    .img-item1,
    .fee-heading-item {
        margin-left: 20px;
    }

    .program-container {
        width: 88%;
    }

    #about-container,
    .fee-container,
    .highlights-container,
    .process-container,
    .clients-container.feedbacks-container,
    .fullstack-desc-container,
    .contact-section {
        width: 100%;
    }

    .process-item1 {
        height: 450px;
    }

    .feedbacks-container {
        height: 2000px;
    }

    .contact-button {
        width: 40%;
    }
}

